doctype html
head
    meta(charset='UTF-8')
    title Carmine&apos;s Portland Italian Restaurant Delivery - Pizza, Pasta &amp; Desserts

    //style
    //    include main.css
    //
    //script
    //    include menu.js
    //    include templates.js
    //    include main.js
    link(rel="stylesheet" href='main.css' type='text/css')
    script(src='menu.js')
    script(src='templates.js')
    script(src='main.js')
body.light
    #header
        head
            .left-frame
                #logo C&nbsp;&nbsp;A&nbsp;&nbsp;R&nbsp;&nbsp;M&nbsp;&nbsp;I&nbsp;&nbsp;N&nbsp;&nbsp;E&nbsp;&nbsp;&apos;&nbsp;&nbsp;S
                #subtitle Pizza, Pasta &amp; Desserts To Go!!!

            .center-frame
                img(src='images/logo.png' style='height:108px;filter: invert(0.888);')

            .right-frame
                a.order-button-link(href='https://postmates.com/merchant/carmines-italian-portland')
                    .order-button(style='')
                        | ORDER With POSTMATES!
                a.order-button-link(href='https://postmates.com/merchant/carmines-italian-portland')
                    .order-button(style='')
                        | ORDER With ChowNOW!
    #main
        main
            a(href="javascript:document.documentElement.scrollTop = window.innerHeight;")
                .banner-image
                        img(src='banner.jpg')
                .arrow
                    span
                    span
            #menu
    footer
        #footer
            .left-frame
                a.order-button-link(href='https://postmates.com/merchant/carmines-italian-portland')
                    .order-button(style='')
                        | ORDER ONLINE!
            .right-frame
                #footer-tag
                    | Portland&apos;s Best Italian Food Delivery!
                #footer-copyright
                    | &copy;2020

