body{
    margin:0;
    padding:0;
    font: 2.5vw sans-serif;
    background: #111111;
    color:#eeeeee;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    max-height: 100vw;
    background:url(bg.png);

}
body.light{
    background: #eeeeee;
    color:#111111;
}
body > * {
    flex: 1 100%;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
}
#footer{
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     padding: 0;
 }

#header,
#footer
{
    background:black;
    z-index: 1000;
    display:flex;
    justify-content: space-between;
    flex-basis: content;
    flex-direction: row;
    background:url(bg.png);
    opacity: 95%;
    box-shadow: 0vw 0vw 1vh rgba(0, 0, 0, 0.9);

}
.right-frame{
    padding: 0.3em 0.6em;
    margin:1vw 2vw;
}
.left-frame{
    padding: 1vw 1vw;
    color:antiquewhite;
    text-align: center;
}
.center-frame{
    text-align: center;
    margin: 0 auto;
}
#logo{
    font: 1.3em sans-serif;  text-align: center;
}
#subtitle{
    font: 0.9em sans-serif;
}
#footer{
    margin:0 auto;position:fixed;
    bottom:0;left:0;right:0;
    background: #111111;
    color: #dddddd;
    z-index: 1000;
    background:url(bg.png);
    opacity: 95%;
    padding: 0.33em 0.33em;
    box-shadow: 0vw 0vw 1vh rgba(0, 0, 0, 0.9);
    flex-basis: border-box;
    display: flex;
}
#footer-copyright{
    text-align: center; font: 0.8em sans-serif;
}
#footer-tag{
    text-align: center; font: 1em sans-serif;
}
.banner-image{
    background: black;
}
.banner-image img{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.order-button{
    font: 1.1em sans-serif;
    background: darkred;
    border: 0.1vw solid rgba(255,255,255,0.85);
    display: inline-block;
    color:#eeeeee;
    padding: 0.3em 0.6em;
    margin: 0;
    box-shadow: 1vw 1vw 3vw rgba(0, 0, 0, 0.9);
    vertical-align: center;
    font-weight: bold;
}
.order-button-link{
    display: inline-block;
    vertical-align: text-bottom;
    flex: border-box;
}
#main{
    flex: 2 0px;
    background: #222222;
    text-align: center;
    color: #d0d0d0;
    margin-bottom: 8vw;
    vertical-align: top;

}
body.light #main{
    background: #d0d0d0;
    color: #222222;
}
.menu-title{
    font: 1.3em sans-serif;
    padding: 1em;
}
.category-title{
    font: 2.5em sans-serif;
    letter-spacing: -0.1em;
    text-indent: -0.1em;
    text-transform: uppercase;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    font-weight: bold;
}
.product{
    /*flex: 1 0 auto;*/

    border: 1px solid rgba(255,255,255,0.25);
    /*background: rgba(0,0,0,0.1);*/
    padding: 0.75em;
    margin: 0.75em;
    display: inline-block;
    /*min-width: 20vw;*/
    /*max-width: 20vw;*/
    /*min-height: 15vw;*/
    vertical-align: top;
    position: relative;
    min-height: 5em;

}
.product-title{
    font: 1.1em sans-serif;
    margin-bottom: 0.25em;
    text-align: left;
    /*float:left;*/
    max-width: 75%;
    color: #889988;
    font-weight: bold;
}
.product-image{
    position: absolute;
    top: 2.3em;
    right: 0.75em;
    border: 1px solid #333333;
    background: #222222;
    width: 3.5em;
    height: 3.5em;
    background-image: url('banner.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10%;
}
.product-image.selected {
    width: 90%;
    height: 90%;
    border-radius: 1em;
}
.price{
    text-align: right;
    /*float:right;*/
    position: absolute;
    top:0.75em;
    right:0.75em;
    color: #ff6666;
    font: 1.2em sans-serif;
    font-weight: bold;

}

.product-description{
    font: 0.7em sans-serif;
    margin: 0.5em 0 0.5em;
    max-width: 75%;
}
.choice-set-title{
    font: 0.8em sans-serif;
    margin-bottom: 0.5em;
    text-align: left;
    margin-left: 1vw;
}
.choices{
    font: 0.7em sans-serif;
    margin-bottom: 0.5em;
    text-align: left;
    margin-left: 2vw;
}
.category{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.arrow{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 36px;
    height: 36px;
    border-bottom: 9px solid #eee;
    border-right: 9px solid #eee;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 3s infinite;
}
/*.arrow span:nth-child(2){*/
/*    animation-delay: -0.2s;*/
/*}*/
/*.arrow span:nth-child(3){*/
/*    animation-delay: -0.4s;*/
/*}*/
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

@media all and (min-width: 1em) {
    body{
        font: 3.5vw sans-serif;
    }
    .product {
        width: 99%;
    }
}


@media all and (min-width: 1024px) {
    body{
        font: 3vw sans-serif;
    }
    .product {
        width: 44%;
    }
}


@media all and (min-width: 1366px) {
    body{
        font: 2vw sans-serif;
    }
    .product {
        width: 33%;
    }
}
@media all and (min-width: 1600px) {
    body{
        font: 1vw sans-serif;
    }
    .product {
        width: 21%;
    }
}
